* {
    
}

.tab{
	-fx-background-color: #090948;
	
}

.tab-header-background{
	-fx-background-color: #090948;
	
}

.tab-label{
    -fx-font-family: "-윤고딕320";
    -fx-font-size: 18;
}

.mainlabel{
	 -fx-font-family: "-윤고딕350";
	 -fx-font-size: 25;
	 
}