* {

}

#lb1{
   -fx-font-family: "-윤고딕330";
   -fx-font-size: 22pt;
}
#lb2, #btn_next{
   -fx-font-family: "-윤고딕330";
   -fx-font-size: 12pt;
}
#lb3, #lb4, #lb5, #lb6, #lb7, #lb_next, #lb9, #lb10, #lb11, #lb12, #lb13, #lb14, #lb15, #lb16, #lb17, #lb18, 
#btn_idCheck, #lb_id, #lb_pw, #lb_pwCheck, #radio_m, #radio_f, #picker, #txt_tel, #lb_bir, #lb_tel, #txt_name, 
#txt_pwCheck, #txt_pw, #txt_id, #txt_emailCheck, #txt_email, #txt_captcha, #lb_email, #lb_emailCheck, 
#lb_captcha{
   -fx-font-family: "-윤고딕330";
   -fx-font-size: 11pt;
}
#txtArea1, #txtArea2{
   -fx-font-family: "-윤고딕330";
}
#lb8{
   -fx-font-family: "-윤고딕330";
   -fx-font-size: 18pt;
}
#lb19, #lb20, #lb21{
	-fx-font-family: "-윤고딕330";
    -fx-font-size: 10pt;
}


















