* {

}

.tab{
	-fx-background-color: white;
	
}

.tab-label{
    -fx-font-family: "-윤고딕320";
    -fx-font-size: 15;
    -fx-text-fill: white;
}

.tab-header-background{
	-fx-background-color: #090948;
	
}

.tab{
	-fx-background-color: #090948;
	
}

.tab:selected{
	-fx-border-width: 0 0 5 0;
	-fx-border-color: #9c0000;
}

.contentlabel{
	 -fx-font-family: "-윤고딕350";
	 -fx-font-size: 18;
	 -fx-font-weight: bold;
	 
}

.button{
	 -fx-font-family: "-윤고딕350";
}
.button:clicked{
	 -fx-font-family: "-윤고딕350";
}

.mainlabel{
	 -fx-font-family: "-윤고딕350";
	 
}

.tree-table-row-cell:selected .tree-table-cell .label{
    -fx-text-fill: white;
}

.tree-table-view .column-header{
    -fx-background-color: white;
    -fx-border-color: white;
     -fx-font-family: "-윤고딕330";
}

#lb_chart, #lb_editor{
	-fx-font-size: 17pt;
	-fx-font-family: "-윤고딕350";
}

#lb_new{
	-fx-font-family: "-윤고딕350";
	-fx-font-size: 20pt;
}

#lb_id{
	-fx-font-family: "-윤고딕350";
	-fx-font-size: 14pt;
}

#txt_search{
	-fx-font-family: "-윤고딕350";
	-fx-font-size: 14pt;
}

#bar{
	-fx-font-family: "-윤고딕340";
}

#lb_chart1, #lb_chart2, #lb_chart3, #lb_chart4, #lb_chart5, #lb_chart6{
	-fx-font-family: "-윤고딕340";
}

.tab-label{
    -fx-font-family: "-윤고딕350";
}

#lbbb1, #lbbb2, #lbbb3, #lbbb4, #lbbb5, #lbbb6, #lbbb7, #lbbb8, #lbbb9, #lbbb10{
	-fx-font-family: "-윤고딕340";
	-fx-font-size: 14pt;
}

#lbb1, #lbb2, #lbb3, #lbb4, #lbb5, #lbb6, #lbb7, #lbb8, #lbb9, #lbb10{
	-fx-font-family: "-윤고딕330";
	-fx-font-size: 20pt;
}



















